.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like.svg);
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  background-image: url(../images/trash.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/trash.red.svg);
  opacity: 100%;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 12px 0 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 24px;
  max-width: 350px;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }

  .card__like-button img {
    width: 20px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
