.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid rgba(33, 33, 33, 0.4);
  max-width: 1280px;
}

.footer__text {
  align-items: end;
  margin: 0;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  padding: 60px 0 60px;
}
